@import "tailwindcss";

@theme inline {
  --font-slab: var(--font-josefin-slab);
  --font-sans: var(--font-josefin-sans);
}

@keyframes shimmy {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

/* app/globals.css */
html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans;
}
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
